BODY { font-family: Cambria, Georgia, "Times New Roman";margin: 0;}
DIV#header DEV.title, DIV.item H3 DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", Franklin Gothic Mediul, Arial;
}
DIV#header { background-color: #444;border-bottom: 2px solid #111;color: White;}
DIV#header div.title{ font-size: 2em;padding: .6em;text-align: center;}
DIV#header div.login { font-size: 1em;padding: .6em;text-align: right;}
DIV#header a.link { color: aqua;}
DIV#content { border-left: 2px solid gray;margin-left: 9em;padding: 1em;margin-right: 9em;border-right: 2px solid gray;}
DIV#content-admin { margin-left: 9em;padding: 1em;margin-right: 9em;}
DIV#content-shop-admin { border-left: 2px solid gray;margin-left: 9em;padding: 1em;margin-right: 9em;}
DIV#client-menu-left{ float: left;width: 8em; padding: .3em;}
DIV#client-menu-right { float: right;width: 8em; padding: .3em;}
DIV#client-menu-right A {
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block; text-decoration: none; padding: .6em; color: black; border-bottom: 1px solid silver;
}

DIV#client-menu-left A {
    font: bold 1.1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block; text-decoration: none; padding: .6em; color: black; border-bottom: 1px solid silver;
}
DIV#client-menu-right a.selected {
    background-color: #666; color: white;
}
DIV#client-menu-left a.selected {
    background-color: #666; color: white;
}
DIV#client-menu-right a:hover {
    background-color: #CCC;
}
DIV#client-menu-left a:hover {
    background-color: #CCC;
}
DIV#client-menu-right a.selected:hover {
    background-color: #666;
}
DIV#client-menu-left a.selected:hover {
    background-color: #666;
}

DIV.item { border-top: 1px dotted gray;padding-top: .7em;margin-bottom: .7em;}
DIV.item H3{ font-size: 1.3em;margin: 0 0 .25em 0;}
DIV.item H4{ font-size: 1.1em;margin: .4em 0 0 0;}