<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Shop/ShopList" timeout="10" >
        <credentials passwordFormat="SHA1"/>
      </forms>
    </authentication>
    <roleManager enabled="true" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <remove />
        <binding closeTimeout="00:02:30" openTimeout="00:02:30" sendTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ILoginService" />
        <binding name="BasicHttpBinding_IShopRepositoryService" />
        <binding name="BasicHttpBinding_IRegisterService" />
        <binding name="BasicHttpBinding_IShopConfigurationService" />
        <binding name="BasicHttpBinding_IProductCategoryRepositoryService" />
        <binding name="BasicHttpBinding_IProductCategoryService" />
        <binding name="BasicHttpBinding_IProductRepositoryService" />
        <binding name="BasicHttpBinding_IProductAdministrationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LoginService/LoginService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
        contract="LoginClient.ILoginService" name="BasicHttpBinding_ILoginService" />
      <endpoint address="http://localhost/ShopService/ShopRepositoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopRepositoryService"
        contract="ShopRepositoryClient.IShopRepositoryService" name="BasicHttpBinding_IShopRepositoryService" />
      <endpoint address="http://localhost/RegistrationService/RegisterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegisterService"
        contract="RegistrationClient.IRegisterService" name="BasicHttpBinding_IRegisterService" />
      <endpoint address="http://localhost/ShopService/ShopConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopConfigurationService"
        contract="ShopConfigurationClient.IShopConfigurationService"
        name="BasicHttpBinding_IShopConfigurationService" />
      <endpoint address="http://localhost/ProductCategoryService/ProductCategoryRepositoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCategoryRepositoryService"
        contract="ProductCategoryRepositoryClient.IProductCategoryRepositoryService"
        name="BasicHttpBinding_IProductCategoryRepositoryService" />
      <endpoint address="http://localhost/ProductCategoryService/ProductCategoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCategoryService"
        contract="ProductCategoryServiceClient.IProductCategoryService"
        name="BasicHttpBinding_IProductCategoryService" />
      <endpoint address="http://localhost/ProductService/ProductRepositoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductRepositoryService"
        contract="ProductRepositoryClient.IProductRepositoryService"
        name="BasicHttpBinding_IProductRepositoryService" />
      <endpoint address="http://localhost/ProductService/ProductAdministrationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductAdministrationService"
        contract="ProductAdministrationClient.IProductAdministrationService"
        name="BasicHttpBinding_IProductAdministrationService" />
    </client>
  </system.serviceModel>
</configuration>
