<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CatalogOnlineConnectionString" connectionString="Data Source=D83XLV32\SQLEXPRESS;Initial Catalog=OnlineCatalog;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="RecreateDb" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>