<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/ShopService/ShopRepositoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopRepositoryService"
        contract="ShopService.IShopRepositoryService" name="BasicHttpBinding_IShopRepositoryService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <remove />
        <binding closeTimeout="00:02:30" openTimeout="00:02:30" sendTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="longBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00" />
        <binding name="BasicHttpBinding_IShopRepositoryService" />
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="OnlineCatalog.Services.ProductCategoryService.ProductCategoryService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longBinding" contract="OnlineCatalog.Services.ProductCategoryService.IProductCategoryService"/>
      </service>
      <service name="OnlineCatalog.Services.ProductCategoryService.ProductCategoryRepositoryService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="longBinding" contract="OnlineCatalog.Services.ProductCategoryService.IProductCategoryRepositoryService"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>

</configuration>
