@model IEnumerable<OnlineCatalog.Web.Main.Models.Groups.ShopViewModel>

@{
    ViewBag.Title = "User shop list";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    
}

<h2>User shop list</h2>
@using (Html.BeginForm())
{
    
}