@model IEnumerable<OnlineCatalog.Web.Main.Models.Groups.ShopViewModel>

@{
    ViewBag.Title = "User shop list";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
    
}

<h2>Welcome @User.Identity.Name - please choose action</h2>