@model IEnumerable<OnlineCatalog.Web.Main.LoginClient.ShopDto>

@{
    ViewBag.Title = "User shop list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User shop list</h2>
@using (Html.BeginForm())
{
    
}