@model dynamic

@{
    ViewBag.Title = "Unexpected error during product removal";
    Layout = "~/Views/Shared/_ShopAdminLayout.cshtml";
}

<h2>Unexpected error during product removal</h2>
<div>
    Error message:
    <label>
        @ViewBag.ErrorMessage
    </label>
</div>
