@model OnlineCatalog.Web.Main.Models.Products.ProductCategoryViewModel

@{
    ViewBag.Title = "Add new product category";
    Layout = "~/Views/Shared/_ShopAdminLayout.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
}

<h2>Add new product category</h2>

@using (Html.BeginForm("AddProductCategory", "ProductCategories", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    Html.RenderPartial("ProductCategoryEditPage", Model);

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="AddProductCategory" class="btn btn-default" />
        </div>
    </div>
}